# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
venv/
*.egg-info/
.env

# Visual Studio Code settings
.vscode/
*.code-workspace

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Data
data/
*.json
*.ipynb

# Utility 
utility/

*.docx

*.pdf

*.sh

# img for unofficial documentation
img/

*.HEIC

*.png